{% extends "base2.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-floating mb-3">
        <input 
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
        required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more charcters"/>
        <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input 
        type="password"
        class="form-control"
        id="confirm-password"
        name="confirm-password"
        placeholder="Confirm Password"/>
        <label for="confirm-password">Confirm Password</label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">submit</button>
</form>
<br />
{% endblock %}
